<ion-view view-title="Explore">
  <ion-content>

  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>


    <h1 class="center">Filter by tags</h1>

    <div class="row">
		  <div class="col">
		  	<button class="button button-clear button-dark">
	  			<i class="ion-ios-pricetag"></i> &nbsp; Marketing
  			</button>
  		</div>
		  <div class="col">
		  	<button class="button button-clear button-dark">
	  			<i class="ion-ios-pricetag"></i> &nbsp; Design
  			</button>
  		</div>
  		<div class="col">
		  	<button class="button button-clear button-dark">
	  			<i class="ion-ios-pricetag"></i> &nbsp; Tech
  			</button>
  		</div>
		</div>
    <div class="row">
		  <div class="col">
		  	<button class="button button-clear button-dark">
	  			<i class="ion-ios-pricetag"></i> &nbsp; Development
  			</button>
  		</div>
		  <div class="col">
		  	<button class="button button-clear button-dark">
	  			<i class="ion-ios-pricetag"></i> &nbsp; User Experience
  			</button>
  		</div>
		  <div class="col"></div>
		</div>

		<div class="list">

	    <a class="item item-thumbnail-left" href="#">
	      <img src="/img/flowers.jpg">
	      <h2>Bouquet Business</h2>
	      <p>Bringing Flowers and Happiness to Homes</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="/img/books.jpg">
	      <h2>BookFace</h2>
	      <p>A social media platform that connects people through books</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="/img/lemonade.jpg">
	      <h2>Lemonade Stand</h2>
	      <p>Quench your thirst!</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="/img/giftbasket.jpg">
	      <h2>Gift Baskets</h2>
	      <p>Send some love!</p>
	    </a>

		</div>


  </ion-content>
</ion-view>
