<ion-view view-title="Home">
  <ion-content>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
		    <h2>Marty McFly</h2>
		    <p>JPMC Code for Good</p>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
		    <p>
		      This project is to do with creating an application for students to be able to keep up with Job Club.
		    </p>
		    <p>
		      <a href="#" class="subdued">5 Likes</a>
		    </p>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-chatbox"></i>
		      Comment
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-search"></i>
		      See More
		    </a>
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
		    <h2>HackGT</h2>
		    <p>Recommended for you</p>
		  </div>

		  <div class="item item-image">
		    <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
		  </div>

		  <a class="item item-icon-left assertive" href="#">
		    View channel
		    <i class="icon ion-ios-arrow-forward"></i>
		  </a>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
		    <h2>Marty McFly</h2>
		    <p>JPMC Code for Good</p>
		  </div>
		  
		  <div class="item item-body">
		    <img class="full-image" src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
		    <p>
		      This project is to do with creating an application for students to be able to keep up with Job Club.
		    </p>
		    <p>
		      <a href="#" class="subdued">5 Likes</a>
		    </p>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-chatbox"></i>
		      Comment
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-search"></i>
		      See More
		    </a>
		  </div>
		</div>

  </ion-content>
</ion-view>
