<ion-view view-title="Project">
  <ion-content>
    <div class="list card">

	  <a href="#" class="item item-icon-left balanced">
	    <i class="icon ion-clock"></i>
	    Level 1 : Choose progress tracker
	  </a>

	  <a href="#" class="item item-icon-left energized">
	    <i class="icon ion-pull-request"></i>
	    Level 2 : Gather requirements
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-paintbrush"></i>
	    Level 3 : Design product/service
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-cash"></i>
	    Level 4 : Budget &amp; fundraise
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-hammer"></i>
	    Level 5 : Develop
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-share"></i>
	    Level 6 : Market
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-radio-waves"></i>
	    Level 7 : Pitch
	  </a>

	</div>


  </ion-content>
</ion-view>
