<ion-view view-title="">  
  <ion-content>
    <html ng-app="ionicApp">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <div class="bar bar-header">
          <button class="button icon ion-plus"></button>
          <h1 class="title">Classes</h1>
          <button class="button">Edit</button>
        </div>
        <link rel="stylesheet" href="./css/style.css">
        <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
        <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
      </head>

      <div class="circular"></div>

      <body ng-controller="ProfileCtrl">
          <div>         
          <ul class="list">
            <li class="item item-toggle">
               Algorithms
               <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               Data Structures
               <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               Algorithms
               <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               Assembly
               <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
          </ul>
          </div>
        
      </body>
    </html>
  </ion-content>
</ion-view>