<ion-view view-title="Projects">
  <ion-content>
    <div class="item item-divider">Current Projects</div>
    <a href="#" class="item item-icon-right" ng-repeat="project in curr_projects">
	   <i class="icon ion-arrow"></i>
	   {{project.title}}
	</a>

    <div class="item item-divider">Past Projects</div>
  	<a href="#" class="item item-icon-right" ng-repeat="project in past_projects">
    	<i class="icon ion-arrow"></i>
    	{{project.title}}
  	</a>

    <!-- <div class="list card" ng-repeat="project in projects">
      <div class="item item-divider">{{project.name}}</div>

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-home"></i>
	    Enter home address
	  </a>

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-ios-telephone"></i>
	    Enter phone number
	  </a>

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-wifi"></i>
	    Enter wireless password
	  </a>

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-card"></i>
	    Enter card information
	  </a>

</div> -->
  </ion-content>
</ion-view>
