<ion-view view-title="Level 2">
  <ion-content>
    <div class="list card">

	  <a href="#" class="item item-icon-left balanced">
	    <i class="icon ion-clock"></i>
	    Choose progress tracker
	  </a>

	  <a href="#" class="item item-icon-left energized">
	    <i class="icon ion-pull-request"></i>
	    Gather requirements
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-paintbrush"></i>
	    Design product/service
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-cash"></i>
	    Budget &amp; fundraise
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-hammer"></i>
	    Develop
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-share"></i>
	    Market
	  </a>

	  <a href="#" class="item item-icon-left dark">
	    <i class="icon ion-radio-waves"></i>
	    Pitch
	  </a>

	</div>


  </ion-content>
</ion-view>
